:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Sayfanın kenar boşluklarını sil ve tam boy yap */
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f4f5f7; /* Arka plan rengimiz */
}

/* React'in ana kutusunu (root) tam ekran yap */
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: left; /* Vite bunu bazen center yapar, onu düzeltiyoruz */
}